acme==0.31.0
asn1crypto==0.24.0
blinker==1.4
certbot==0.31.0
certbot-nginx==0.31.0
certifi==2018.1.18
chardet==3.0.4
cloud-init==19.4
ConfigArgParse==0.11.0
configobj==5.0.6
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
future==0.15.2
idna==2.6
Jinja2==2.10
josepy==1.1.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
MarkupSafe==1.0
mock==2.0.0
ndg-httpsclient==0.4.4
oauthlib==2.0.6
parsedatetime==2.4
pbr==3.1.1
pyasn1==0.4.2
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyRFC3339==1.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.2
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
ssh-import-id==5.7
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
