<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    {% extends "main/header.html" %}

    <style>

.helptext{
  visibility: hidden;
}






    </style>
</head>
<body>
{% block content %}

{% csrf_token %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>
{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

<br>
<br>
<a href="{{ request.META.HTTP_REFERER }}" class="button is-light" class>Back</a>

{% endblock %}
</body>
</html>