<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    {% extends "main/header.html" %}

    <style>

.helptext{
  visibility: hidden;
}

    </style>
</head>
<body>
{% block content %}
<br>

<div class="container fix">

    <h1 class="title">Enter student's information</h1>
    <br><br>
    {% csrf_token %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-success">Add</button>
        <a style="float:right;" href="{{ request.META.HTTP_REFERER }}" class="btn btn-info" class>Back</a>
    </form>


</div>
{% endblock %}
</body>
</html>