<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    {% extends "main/header.html" %}
</head>
<body>
{% block content %}
<br>
<div class="container fix">
        <h1 class="title">Welcome {{request.user.username | title}}</h1>
    <br>
    <div class="row">
        <div class="col md-6">
    <h1 class="title">Origin Classes:</h1>
    <ul class="list-group">
        {% for origin_class,students in classes.items %}
        <li><a style="color:black; font-weight: 500;font-family: 'Roboto', sans-serif;" class="list-group-item"
               href="/view_origin_class/{{origin_class}}">{{origin_class | title}}</a>
        </li>
        {% endfor %}

    </ul>
<br>
    <a class="btn btn-success" href="/new_origin_class">Add origin class</a>

    </div>
<div class="col md-6">
    <h1 class="title">List of Teachers:</h1>
    <div class="list-group">
        {% for teacher in teachers %}
        <a style="color:black; font-weight: 500;font-family: 'Roboto', sans-serif;" class="list-group-item"
           href="/view_teacher/{{teacher.id}}">{{teacher | title}}</a>
        {% endfor %}
    </div>
        </div>
</div>
    </div>
<br><br><br>
{% endblock %}
</body>
</html>