<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    {% extends "main/header.html" %}
</head>
<body>
{% block content %}

<h1>Origin Classes:</h1>
{% for origin_class,students in classes.items %}
<a href="/view_origin_class/{{origin_class}}">{{origin_class}}</a>

<br>
<br>
{% endfor %}

<a href="/new_origin_class">Add origin class</a>
<br>

<h1>List of Teachers:</h1>
{% for teacher in teachers %}
<a href="/view_teacher/{{teacher.id}}">{{teacher}}</a>
{% endfor %}


{% endblock %}
</body>
</html>