<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Class</title>
    {% extends "main/header.html" %}

</head>
<body>
{% block content %}
<br>
<div class="container">

    <h1 class="title">Please enter class name</h1>

    {% csrf_token %}
    <form method="POST">
        {% csrf_token %}
        <input class="input is-small " name="name">
        <br><br>
        <button class="button is-success is-light" type="submit">add</button>
        <a style="float:right;" class="tag is-info is-large is-light" href="/">Back</a>

    </form>
</div>
{% endblock %}
</body>
</html>