<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Class</title>
    {% extends "main/header.html" %}

</head>
<body>
{% block content %}

<div class="container fix">

    <h1>Please enter class name</h1>
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <br><br><br>
        <div class="input-group">
            <input class="form-control" placeholder="Class Name" name="name" style="max-width:30%;">

        </div>
        <br><br><br><br>
        <button class="btn btn-success" type="submit">add</button>
        <a style="float:right;" class="btn btn-info" href="/">Back</a>

    </form>
</div>

{% endblock %}
</body>
</html>