<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Origin Class</title>
    {% extends "main/header.html" %}

</head>
<body>
{% block content %}

<h1>Student List:</h1>
<br>

<form method="POST">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Name</th>
        </tr>
        {% for student in student_list %}
        <tr>
            <td>{{student.name}}</td>
            <td><input type='checkbox' name="students" value="{{student.name}}"></td>
        </tr>
        {% endfor %}

    </table>
    {% if button == '1' %}
        <button type="submit">create</button>
    {% else %}
        <button type="submit">add</button>
    {% endif %}
</form>
<br>
<a href="/view_school_for_new_class/{{class_id}}">Back</a>


{% endblock %}
</body>
</html>