<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Origin Class</title>
    {% extends "main/header.html" %}


</head>
<body>
{% block content %}
<br>
<div class="container fix">

    <h1 class="subtitle">Student List:</h1>


    <br>


    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Name</div>
                <div class="visit">
                    <button onclick="select()" class="btn btn-info">select all</button>
                </div>
            </div>
                <script>

    function select() {
 let checkboxes = document.getElementsByName('students');
  for (let checkbox of checkboxes) {
    checkbox.checked = !checkbox.checked;
  }
}



                </script>

                <form method="POST">
                    {% csrf_token %}
                    {% for student in student_list %}
                    <div class="table-row">
                    <div class="serial">{{ forloop.counter }}</div>
                        <div class="country">{{student.name}}</div>
                        <div class="visit"><input type='checkbox' name="students" value="{{student.name}}"></div>
                    </div>
                    {% endfor %}

                </div>
    </div>
    <br>
                    {% if button == '1' %}
                    <button type="submit" class="btn btn-success">create</button>
                    {% else %}
                    <button type="submit" class="btn btn-success">add</button>

                    {% endif %}
                </form>
                <a style="float:right;" class="btn btn-info"
                   href="/view_school_for_new_class/{{class_id}}">Back</a>

            </div>
            {% endblock %}

</body>
</html>