<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Origin Class</title>
    {% extends "main/header.html" %}


</head>
<body>
{% block content %}
<br>
<div class="container">

    <h1 class="subtitle">Student List:</h1>


    <br>


    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr>
            <th>Name</th>
            <td>
                <button onclick="select()" class="button is-link is-light is-small">select all</button>
            </td>
        </tr>
        <script>

    function select() {
 let checkboxes = document.getElementsByName('students');
  for (let checkbox of checkboxes) {
    checkbox.checked = !checkbox.checked;
  }
}


        </script>
        <form method="POST">
            {% csrf_token %}
            {% for student in student_list %}
            <tr>
                <td>{{student.name}}</td>
                <td><input type='checkbox' name="students" value="{{student.name}}"></td>
            </tr>
            {% endfor %}

    </table>
    {% if button == '1' %}
    <button type="submit" class="button is-success is-light">create</button>
    {% else %}
    <button type="submit" class="button is-success is-light">add</button>

    {% endif %}
    </form>
    <a style="float:right;" class="tag is-info is-large is-light"
       href="/view_school_for_new_class/{{class_id}}">Back</a>

</div>
{% endblock %}

</body>
</html>