<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    {% extends "main/header.html" %}
    <script src="https://use.fontawesome.com/fedf5393ba.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
{% block content %}
<br>

<script>




        function switchClick(id){
            if(id === 'report'){
               $('#list_table').hide();
               $('#report_table').show();
            $('#list_table').before($('#report_table'));


            }
            else {
             $('#list_table').show();
               $('#report_table').hide();
            $('#list_table').after($('#report_table'));

            }
        }







</script>
<div class="container fix">

    <h1 class="mb-30">{{class_name}}</h1>
    <h3>Number of lessons: {{num_of_reports}}</h3>
    <div style="margin-bottom:-20px;">
        <fieldset>
            <div class="switch-toggle alert alert-light">
                <input id="list1" name="view" type="radio" checked>
                <label style="color:black;font-weight:700" for="list1" id="list" onclick="switchClick(this.id)">Student
                    List</label>

                <input id="report1" name="view" type="radio">
                <label style="color:black;font-weight:700" for="report1" id="report" onclick="switchClick(this.id)">Student
                    Reports</label>

                <a class="btn btn-light" style="background-color:#3696f3;"></a>
            </div>
        </fieldset>
    </div>
    <div id="list_table">
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="serial">#</div>
                    <div class="country">Name</div>
                    <div class="visit">Origin Class</div>
                    <div class="percentage">Attendance Rates</div>

                </div>

                {% for student in student_list %}
                <div class="table-row">
                    <div class="serial">{{ forloop.counter }}</div>
                    <div class="country"> {{student.0.name}}</div>
                    <div class="visit">{{student.0.origin_class}}</div>
                    {% if num_of_reports > 0%}
                    <div class="percentage">
                        <div class="progress">
                            {% if student.1 == 0 %}
                            <div class="progress-bar color-2" role="progressbar" style="width: 2%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            {% elif student.1 < 80 %}
                            <div class="progress-bar color-3" role="progressbar" style="width: {{student.1}}%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            {% else %}
                            <div class="progress-bar color-4" role="progressbar" style="width: {{student.1}}%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <br><br>

    <div id="report_table" style="display:none">
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="serial">#</div>
                    <div class="country">Name</div>
                    {% for report in reports %}
                    <div class="visit">{{report.date}}</div>
                    {% endfor %}
                </div>
                {% for name, l in student_dict.items %}
                <div class="table-row">
                    <div class="serial">{{ forloop.counter }}</div>
                    <div class="country"> {{name}}</div>
                    {% for i in l %}
                    {% if i is True %}
                    <div class="visit"><i class="fas fa-check" style="color:green;"></i></div>
                    {% else %}
                    <div class="visit"><i class="fas fa-times" style="color:#ca3b49;"></i></div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br>

    <hr>

    <a class="btn btn-success" href="/view_school_for_new_class/{{class_id}}">Add students
        to class</a>


    <a style="margin-left:20px;" class="btn btn-danger"
       href="/delete_class_verification/{{class_id}}">Delete
        class</a>


    <a style="float:right;" class="btn btn-info" href="{{path}}">Back</a>
    <hr>


</div>
{% endblock %}
</body>
</html>