<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    {% extends "main/header.html" %}

</head>
<body>
{% block content %}
<h1><strong>{{class_name}}</strong></h1>
<h1>Student List:</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th> Origin Class</th>
    </tr>

    {% for student in student_list %}
    <tr>
        <td><a href="/view_student/{{student.id}}"> {{student.name}} </a></td>
        <td>{{student.origin_class}}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/view_school_for_new_class/{{class_id}}">Add students to class</a>
<br>
<a href="/delete_class_verification/{{class_id}}">Delete class</a>
<br>
<a href="{{path}}">Back</a>
{% endblock %}
</body>
</html>