<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    {% extends "main/header.html" %}
</head>
<body>
{% block content %}
<br>
<div class="container fix">

    <h1 class="title">Choose Class From Which To Add Students:</h1>
    <br>
    <ul class="list-group ">

        {% for origin_class,students in classes.items %}
        <li class="list-group-item">
        <a style="color:black; font-weight: 500;font-family: 'Roboto', sans-serif;" class="list-item"
           href="/select_students_from_origin/{{button}}/{{origin_class}}/{{class_id}}">{{origin_class}}</a>
        </li>
        {% endfor %}
    </ul>
<br>
<a style="float:right;" class="btn btn-info" href="/">Back</a>

</div>
{% endblock %}
</body>
</html>