<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    {% extends "main/header.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
{% block content %}
<br>

<script>
        function switchClick(id){
            if (id === 'report'){
            $('#list_table').detach();
            $('#list_table').append($('#report_table'));


            }
            else {
            $('#report_table').detach();
            $('#report_table').append($('#list_table'));

            }
        }
</script>
<div class="container fix">

    <h1 class="mb-30">{{class_name}}</h1>
    <div style="margin-bottom:-20px;">
        <fieldset>
            <div class="switch-toggle alert alert-light">
                <input id="list1" name="view" type="radio" checked>
                <label for="list1" id="list" onclick="switchClick(this.id)">Student List</label>

                <input id="report1" name="view" type="radio">
                <label for="report1" id="report" onclick="switchClick(this.id)">Student Reports</label>

                <a class="btn btn-info"></a>
            </div>
        </fieldset>
    </div>
<div id="list_table">
    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Name</div>
                <div class="visit">Origin Class</div>
            </div>

            {% for student in student_list %}
            <div class="table-row">
                <div class="serial">{{ forloop.counter }}</div>
                <div class="country"> {{student.name}}</div>
                <div class="visit">{{student.origin_class}}</div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
    <br><br>
    <div id="report_table">
    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Name</div>
                {% for report in reports %}
                <div class="visit">{{report.date}}</div>
                {% endfor %}
            </div>
            {% for name, l in student_dict.items %}
            <div class="table-row">
            <div class="serial">{{ forloop.counter }}</div>
            <div class="country"> {{name}}</div>
            {% for i in l %}
            <div class="visit">{{i}}</div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    <br><br>

    <hr>

    <a class="tag is-primary is-large is-light" href="/view_school_for_new_class/{{class_id}}">Add students
        to class</a>


    <a style="margin-left:20px;" class="tag is-danger is-large is-light"
       href="/delete_class_verification/{{class_id}}">Delete
        class</a>


    <a style="float:right;" class="tag is-info is-large is-light" href="{{path}}">Back</a>
    <hr>


</div>
{% endblock %}
</body>
</html>