<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "main/header.html" %}

</head>
<body>
{% block content %}
<h1 class="title">Origin Classes:</h1>
    <div class="list is-hoverable">
        {% for origin_class,students in classes.items %}
        <a style="color:black; font-weight: 500;font-family: 'Roboto', sans-serif;" class="list-item"
           href="/view_origin_class/{{origin_class}}">{{origin_class}}</a>

        {% endfor %}

    </div>
{% endblock %}
</body>
</html>